.skillspage{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 40px;
    margin: 30px;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
}

.skillspage *{
    font-size: 5rem;
    color: black;
    border: 1px solid black;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
}

.skillspage .blue{
    color: black;
}

.skillspage .scrolldownskills{
    position: absolute;
bottom: 0;
right: 300px;
margin: auto;
height: 140px;
background-color: #0B0E10;
margin-bottom: -160px;
border: none;
border-radius: none;
width: 2px;
padding: 0;
}